<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangbaobao.spike.dao.UserDao">
    <sql id="user">
         `id`,
          `phone`,
          `password`,
          `nick_name`,
          `slat`,
          `user_pic`,
          `register_date`,
          `last_login_date`,
          `login_count`
    </sql>
    <select id="getUserByPhone" resultType="com.tangbaobao.spike.domain.User">
        SELECT
        <include refid="user"/>
        FROM
        `user`
        WHERE
        `phone` = #{phone}
    </select>
</mapper>